* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  color: #333;
  width: 90vw;
}

/* Navbar starts her */
.navbar {
  background-color: #000;
  color: #fff;

  width: 98.8vw;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}

.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar .navbar-toggler {
  display: none;
}

.intro {
  width: 100%;
  height: 100vh;
  background: url("https://source.unsplash.com/GYQBryEWh0Y/") no-repeat center center;
  background-size: cover;
  background-color: #000;
}

.container {
  position: relative;
  height: 100vh;
  color: #fff;
  width: 98.8vw;
  margin: -38px;
  margin-left: -39px;
}

.container h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20vh;
}

#html {
  background-color: #e34f26;
}

#css {
  background-color: #002561;
}

#javascript {
  background-color: #333;
}

@media (max-width: 991px) {
  .navbar ul {
    padding: 0 10px;
  }

  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    width: 100%;
    padding: 0;
    background-color: black;
    z-index: 1000;
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }

  .navbar ul.open {
    max-height: 100vh;
  }

  .navbar ul li {
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.3); */
  }

  .navbar ul li a {
    padding: 0;
  }

  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    /* border: none; */
    /* border-radius: 4px; */
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }

  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }

  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }

  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }

  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }

  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }
}

@keyframes colorchange {
  0% {
    background: #500033;
  }

  20% {
    background: #500033;
  }

  40% {
    background: #000050;
  }

  60% {
    background: #00501D;
  }

  80% {
    background: #554d00;
  }

  100% {
    background: #300050;
  }

}

.navbar {
  animation: colorchange 20s;
  /* animation-timing-function: ease-out; */
  animation-iteration-count: infinite;
  animation-play-state: running;
}

/* navbar ends here */
/* Slider starts here */
@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 57%;
  }

  .footer {
    width: 117vw;
  }
}

.container {
  position: relative;
  overflow: hidden;
  /* border-radius: 5rem; */
  margin: -25px;
}

@media only screen and (max-width: 1000px) {
  .container {
    border-radius: 0;
  }
}

.slider {
  display: flex;
  width: 500%;
  height: 55rem;
  transition: all 0.25s ease-in;
  transform: translateX(0);
}

@media only screen and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
}

.slider .box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 650px) {
  .slider .box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

.slider .box .bg {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 55%;
  transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  transform-origin: 0 100%;
}

@media only screen and (max-width: 800px) {
  .slider .box .bg {
    width: 65%;
  }
}

@media only screen and (max-width: 650px) {
  .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 54%;
    transform: skewX(0deg);
  }
}

.slider .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  transform: skewX(10deg);
}

@media only screen and (max-width: 650px) {
  .slider .box .bg::before {
    width: 120%;
    bottom: 0;
    transform: skewX(0deg);
  }
}

.slider .box .details {
  padding: 5rem;
  padding-left: 10rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}

@media only screen and (max-width: 650px) {
  .slider .box .details {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    text-align: center;
    padding: 2rem;
    transform: translateY(-9rem);
  }
}

.slider .box .details h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.slider .box .details p {
  display: inline-block;
  font-size: 1.3rem;
  color: #B5B4B4;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

@media only screen and (max-width: 800px) {
  .slider .box .details p {
    margin-right: 0;
  }
}

.slider .box .details button {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider .box .details button:hover {
  opacity: 0.8;
}

.slider .box .details button:focus {
  outline: none;
  border: none;
}

.slider .box1 {
  background-color: #500033;
}

.slider .box1 .illustration .inner {
  background-color: #FF0077;
}

.slider .box1 .illustration .inner::after,
.slider .box1 .illustration .inner::before {
  background-color: rgba(255, 0, 119, 0.4);
}

.slider .box1 button {
  background-color: #FF0077;
}

.slider .box2 {
  background-color: #000050;
}

.slider .box2 .illustration .inner {
  background-color: #0033FF;
}

.slider .box2 .illustration .inner::after,
.slider .box2 .illustration .inner::before {
  background-color: rgba(0, 51, 255, 0.4);
}

.slider .box2 button {
  background-color: #0033FF;
}

.slider .box3 {
  background-color: #00501D;
}

.slider .box3 .illustration .inner {
  background-color: #00FF44;
}

.slider .box3 .illustration .inner::after,
.slider .box3 .illustration .inner::before {
  background-color: rgba(0, 255, 68, 0.4);
}

.slider .box3 button {
  background-color: #00FF44;
}

.slider .box4 {
  background-color: #554D00;
}

.slider .box4 .illustration .inner {
  background-color: #FF4E00;
}

.slider .box4 .illustration .inner::after,
.slider .box4 .illustration .inner::before {
  background-color: rgba(255, 78, 0, 0.4);
}

.slider .box4 button {
  background-color: #FF4E00;
}

.slider .box5 {
  background-color: #300050;
}

.slider .box5 .illustration .inner {
  background-color: #8000FF;
}

.slider .box5 .illustration .inner::after,
.slider .box5 .illustration .inner::before {
  background-color: rgba(128, 0, 255, 0.4);
}

.slider .box5 button {
  background-color: #8000FF;
}

.slider .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
}

@media only screen and (max-width: 650px) {
  .slider .illustration {
    grid-row: 1/span 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider .illustration div {
  height: 25rem;
  width: 18rem;
  border-radius: 3rem;
  background-color: #FF0077;
  position: relative;
  transform: skewX(-10deg);
}

@media only screen and (max-width: 800px) {
  .slider .illustration div {
    height: 20rem;
    width: 15rem;
  }
}

.slider .illustration div::after,
.slider .illustration div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
}

.slider .illustration div::after {
  transform: translate(4rem, -1rem);
}

.slider .illustration div::before {
  transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
  z-index: 10000;
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 650px) {

  .prev,
  .next {
    display: none;
  }
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

@media only screen and (max-width: 650px) {
  .trail {
    width: 90%;
    bottom: 13%;
  }
}

.trail div {
  padding: 2rem;
  border-top: 3px solid #fff;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.trail div:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 650px) {
  .trail div {
    padding: 1rem;
  }
}

.active {
  opacity: 1 !important;
}

.intro {
  background: #fff;
  padding: 60px 30px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.5;
  text-align: center;
}

.intro h1 {
  font-size: 18pt;
  padding-bottom: 15px;

}

.intro p {
  font-size: 14px;
}

.action {
  text-align: center;
  display: block;
  margin-top: 20px;
}

a.btn {
  text-decoration: none;
  color: #666;
  border: 2px solid #666;
  padding: 10px 15px;
  display: inline-block;
  margin-left: 5px;
}

a.btn:hover {
  background: #666;
  color: #fff;
  transition: .3s;
  -webkit-transition: .3s;
}

.btn:before {
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
}

.github:before {
  content: "\f09b"
}

.down:before {
  content: "\f019"
}

.back:before {
  content: "\f112"
}

.credit {
  background: #fff;
  padding: 12px;
  font-size: 9pt;
  text-align: center;
  color: #333;
  margin-top: 40px;

}

.credit span:before {
  font-family: FontAwesome;
  color: #e41b17;
  content: "\f004";


}

.credit a {
  color: #333;
  text-decoration: none;
}

.credit a:hover {
  color: #1DBF73;
}

.credit a:hover:after {
  font-family: FontAwesome;
  content: "\f08e";
  font-size: 9pt;
  position: absolute;
  margin: 3px;
}

main {
  background: black;
  padding-top: 105px;
  padding-left: 25px;
  padding-bottom: 60px;
  border-radius: 2px;

}

article li {
  color: #444;
  font-size: 15px;
  margin-left: 33px;
  line-height: 1.5;
  padding: 5px;
}

article h1,
article h2,
article h3,
article h4,
article p {
  padding: 14px;
  color: #333;
}

article p {
  font-size: 15px;
  line-height: 1.5;
}

@media only screen and (min-width: 1280px) {
  main {
    max-width: 1370pcpx;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  }


}

.set-overlayer,
.set-glass,
.set-sticky {
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
  color: #333;
  font-size: 16px;
}

.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {
  font-family: FontAwesome;
  font-size: 18pt;
  position: relative;
  float: right;
}

.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
  content: "\f204";
  transition: .6s;
}

.to-active:after {
  content: "\f205";
  color: #008080;
  transition: .6s;
}

.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
  margin: 10px;
  background: #f2f2f2;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
  box-sizing: border-box;
}

/* Syntax Highlighter*/

pre.prettyprint {
  padding: 15px !important;
  margin: 10px;
  border: 0 !important;
  background: #f2f2f2;
  overflow: auto;
}

.source {
  white-space: pre;
  overflow: auto;
  max-height: 400px;
}

code {
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 2px;
}

/* slider ends here */
/* Courses part starts here */
.ag-format-container {
  width: 98vw;
  margin: 0 auto;

}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 2rem 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(50% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 1rem;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  font-size: 2rem;
  padding-top: 20px;
  overflow: hidden;
  text-decoration: none;
  position: relative;
}

.ag-courses-item_link:hover {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  text-decoration: none;
  overflow: hidden;

  font-weight: bold;
  font-size: px;
  color: #FFF;
  padding-top: 2rem;
  z-index: 2;
  position: relative;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/*Courses ends here*/
/* Use cases starts here */

.rows {
  width: 92vw;
}

.heading {
  text-align: center;
  color: white;
  padding-top: 1px;
}

.columns {
  float: left;
  width: 50%;
  padding: 30px;
  /* min-height: 300px; */
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

/* @media screen and (max-width: 768px) {
  .columns{
    width: 100%;
  }
} */
/* Use cases ends here */
/* Css for footer starts here */

h1 {
  text-align: center;
  font-family: roboto;
  font-weight: 400;
  font-size: 35px;
  color: #656565;
}

.dummy-text {
  color: #3c3b3b;
  font-family: lato;
  font-size: 20px;
  line-height: 1.5;
}

.col-6 {
  width: 50%;
  display: inline-table;
}

footer {
  background-color: #1a1919;
  padding: 3em 4em 2em;
}

footer .logo {
  color: #fff;
  font-size: 28px;
  font-family: roboto;
}

footer .row {
  margin: 2em 0;
  font-family: lato;
  color: #fff;
  position: relative;
  border-bottom: 1px solid #cecece;
}

.footer-toggle {
  display: none;
}

.link-cat {
  cursor: pointer;
}

footer ul {
  padding: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer ul li {
  list-style-type: none;
  padding: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  line-height: 2;
}

footer .footer-cat,
#newsletter span {
  font-size: 20px;
}

.footer-cat-links a {
  color: #cecece;
  text-decoration: none;
  position: relative;
}

.footer-cat-links.active>li a {
  pointer-events: auto;
}

.footer-cat-links a:after {
  top: 21px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  width: 0;
  background: #fff;

  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer-cat-links a:hover:after,
.footer-cat-links a:focus:after {
  width: 100%;
  left: 0;
}

footer #subscribe {
  margin: 20px 0px 30px;
}

input#subscriber-email {
  outline: none;
  padding: 8px;
  background: #212121;
  border: 1px solid #cecece;
  color: #cecece;
  border-radius: 4px 0px 0px 4px;
}

input#subscriber-email::-webkit-input-placeholder {
  color: rgb(202, 196, 196);
}

input#subscriber-email:-ms-input-placeholder {
  color: #cecece;
}

input#subscriber-email::-ms-input-placeholder {
  color: #cecece;
}

input#subscriber-email::placeholder {
  color: #cecece;
}

.col-3 {
  display: inline-table;
  width: 25%;
}

.col-3#newsletter {
  width: 24%
}

.col-3#newsletter #btn-scribe {
  margin-left: -4px;
  border: 1px solid #cecece;
  border-radius: 0px 4px 4px 0;
  padding: 8px 5px;
  background-color: #e2e2e2;
  color: #212121;
  cursor: pointer;
}

.social-2 {
  display: none;
}

.social-links {
  bottom: 44px;
  position: absolute;
  left: 0;
}

.social-links a {
  color: #fff;
  font-size: 20px;
  border: 1px solid;
  border-radius: 20px;
  padding: 6px;

  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.social-links a:not(:last-child) {
  margin-right: 10px;
}

.social-links a:hover,
.social-links a:focus {
  background-color: #212121;
}

.social-links a i {
  width: 25px;
  height: 25px;
  text-align: center;
}

#newsletter #address li:not(:first-child) {
  padding: 20px 0;
}

#newsletter #address li i {
  font-size: 45px;
  width: auto;
  padding: 5px;
}

#newsletter #address li div {
  color: #cecece;
  font-size: 14px;
  width: 80%;
  text-align: left;
  float: right;
  line-height: 1.3;
}

#copyright {
  text-align: center;
  color: #fff;
  font-family: lato;
}

#owner {
  text-align: center;
  padding: 20px 0 0px;
  color: #fff;
  font-family: lato;
}

#owner a {
  color: #fff;
}

/* iPads to Smartphone for Common Elements ----------- */
@media only screen and (max-width : 1024px) {

  .col-3 {
    display: block;
    width: 100%;
    padding-bottom: 1em;
    position: relative;
  }

  .col-3#newsletter {
    width: 100%;
    position: relative;
    padding-bottom: 0;
    padding-top: 1em;
  }

  footer .footer-cat {
    margin-left: 25px;
  }

  .footer-toggle,
  .footer-toggle::after {
    background: #fff;
    height: 2px;
    width: 15px;
    position: absolute;
    display: block;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
  }

  .footer-toggle {
    top: 11px;
    cursor: pointer;
  }

  .footer-toggle::after {
    content: '';
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .btnActive .footer-toggle::after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .footer-cat-links {
    margin: 0 0em 0px 1.6em;
  }

  .footer-cat-links a {
    pointer-events: none;
  }

  .footer-cat-links li {
    line-height: 0;
    opacity: 0;
  }

  .footer-cat-links.active>li {
    line-height: 2;
    opacity: 1;
  }

  .social-1 {
    display: none !important;
  }

  .social-2 {
    display: block;
    position: absolute;
    top: 7.5em;
    bottom: 0px;
    height: 20px;
    padding-bottom: 1.5em;
    width: 100%;
  }

  #address {
    margin-top: 6em;
  }

  #newsletter #address li i {
    width: auto;
  }

  #newsletter #address li div {
    font-size: 14px;
    width: auto;
    text-align: -webkit-auto;
    float: none;
    line-height: 2;
    display: inline-block;
    padding: 10px 0 15px;
  }

  #newsletter #address li div:last-child {
    padding-bottom: 0;
  }

  #newsletter #address li:not(:first-child) {
    padding: 20px 0 0;
  }
}

/* iPads (portrait)----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

  footer {
    padding-right: 3em;
    padding-left: 3em;
  }

  .col-3 {
    display: block;
    width: 100%;
    padding-bottom: 1em;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

  section {
    padding-bottom: 3em;
  }

  .sec-heading {
    padding: 1em 0;
  }

  .col-3 {
    display: block;
    width: 100%;
    padding-bottom: 1em;
  }
}

/* Mini Tablet ----------- */
@media only screen and (max-width : 600px) {

  .col-3 {
    display: block;
    width: 100%;
    padding-bottom: 1em;
  }

  .col-6 {
    width: 100%;
    display: block;
  }

  footer {
    padding: 3em 2em 2em;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {

  .col-6 {
    width: 100%;
    display: block;
  }

  footer {
    padding-right: 1em;
    padding-left: 1em;
  }
}

/* Css for footer ends here */
@media only screen and (max-width : 1200px) {
  .navbar {
    width: 117vw;
  }

  .main {
    width: 117vw;
  }

  .container {
    width: 117vw;
  }

  footer {
    width: 117vw;
  }
}


/* Dropdown Button */


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-left: -46px;
  background:transparent;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
