/* default css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: black;
  ;
}

/* navbar css starts here */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-area {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)),
    url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-position: center center;
  background-size: cover;
}

/* Regular navbar css starts here */
.navbar-area {
  background: black;
  border-bottom: 1px solid #000;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navbar ul li a:hover {
  background: rgb(135, 7, 255);
  color: white;
  font-size: 15px;
}

/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}

.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* nav-toggler css start */



/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }

  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }

  .site-navbar {
    min-height: 60px;
  }

  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: black;
    z-index: 100;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }

  .site-navbar ul li a {
    padding: 25px;
  }

  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, .1);
  }

  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  /* navbar css for mobile end */
}

/* mobile breakpoint end */
/* Navbar Css ends here */
/*carousel effect css starts here */
#carousel {
  perspective: 1000px;
  overflow: hidden;
}

#carousel #scene {
  width: 42%;
  margin: 40px auto 0 auto;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

#carousel #scene .carousel_item {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0 10px;
  backface-visibility: hidden;
}

#carousel #scene .carousel_item:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}

#carousel #carousel_btn {
  width: 100px;
  margin: 20px auto 0 auto;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#carousel #carousel_btn .btn {
  width: 45px;
  height: 45px;
  line-height: 40px;
  padding-left: 7px;
  box-sizing: border-box;
  border-radius: 50%;
  float: left;
  border: 2px solid #2f2f2f;
  background-color: rgb(96, 9, 240);
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}

#carousel #carousel_btn .btn:hover {
  color: rgb(96, 9, 240);
  background-color: white;
}

#carousel #carousel_btn>div:first-child {
  margin-right: 10px;
}

/* Carousel effect css ends here */
/* Searchbox css starts here */
.box {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.input {
  color: white;
  border: 3px solid rgb(135, 7, 255);
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}

.input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-1 {
  background: rgb(96, 9, 240);
  background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
  border: none;
  margin-left: 1rem;
}

.btn-1:before {
  height: 0%;
  width: 2px;
}

.btn-1:hover {
  background: white;
  color: rgb(96, 9, 240);
}

/* SearchBox css Ends here */
/* Courses card css starts here */
@font-face {
  font-family: "Mona Sans";
  src: url("https://assets.codepen.io/64/Mona-Sans.woff2") format("woff2 supports variations"), url("https://assets.codepen.io/64/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

@property --hue {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --rotate {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-translate-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --bg-size {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-opacity {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-blur {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --glow-scale {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

@property --glow-radius {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

@property --white-shadow {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

:root {
  --debug: 0;
  --supported: 0;
  --not-supported: 0;
  --card-color: hsl(260deg 100% 3%);
  --text-color: hsl(260deg 10% 55%);
  --card-radius: 3.6vw;
  --card-width: 50vh;
  --border-width: 3px;
  --bg-size: 1;
  --hue: 0;
  --hue-speed: 1;
  --rotate: 0;
  --animation-speed: 4s;
  --interaction-speed: 0.55s;
  --glow-scale: 1.5;
  --scale-factor: 1;
  --glow-blur: 6;
  --glow-opacity: 1;
  --glow-radius: 100;
  --glow-rotate-unit: 1deg;
}

.courses::before,
.courses::after {
  content: "CSS.registerProperty is supported ✅";
  position: absolute;
  display: block;
  top: 8px;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 160px);
  max-width: 380px;
  height: auto;
  padding: 8px;
  border-radius: 8px;
  background: #48b93c;
  color: white;
  text-align: center;
  font-family: sans-serif;
  z-index: var(--supported, 0);
  opacity: var(--supported, 0);
}

.courses::after {
  content: "CSS.registerProperty is NOT supported ❌";
  background: #b93c3c;
  z-index: var(--not-supported, 0);
  opacity: var(--not-supported, 0);
}

.courses::before,
.courses::after {
  display: none !important;
}

/* .courses {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}*/

.courses {
  background-color: var(--card-color);
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
  font-family: "Mona Sans", sans-serif;
}

.courses>div {
  width: var(--card-width);
  aspect-ratio: 1.5/1;
  color: white;
  margin: 2px;
  margin-bottom: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  border-radius: var(--card-radius);
  cursor: pointer;
}

.courses>div:hover>div {
  mix-blend-mode: darken;
  --text-color: white;
  box-shadow: 0 0 calc(var(--white-shadow) * 1vw) calc(var(--white-shadow) * 0.15vw) rgba(255, 255, 255, 0.2);
  animation: shadow-pulse calc(var(--animation-speed) * 2) linear infinite;
}

.courses>div:hover>div:before {
  --bg-size: 15;
  animation-play-state: paused;
  transition: --bg-size var(--interaction-speed) ease;
}

.courses>div:hover .glow {
  --glow-blur: 1.5;
  --glow-opacity: 0.6;
  --glow-scale: 2.5;
  --glow-radius: 0;
  --rotate: 900;
  --glow-rotate-unit: 0;
  --scale-factor: 1.25;
  animation-play-state: paused;
}

.courses>div:hover .glow:after {
  --glow-translate-y: 0;
  animation-play-state: paused;
  transition: --glow-translate-y 0s ease, --glow-blur 0.05s ease, --glow-opacity 0.05s ease, --glow-scale 0.05s ease, --glow-radius 0.05s ease;
}

.courses>div:before,
.courses>div:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--card-radius);
}

.courses>div>div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--card-color);
  border-radius: calc(calc(var(--card-radius) * 0.9));
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-transform: uppercase;
  font-stretch: 150%;
  font-size: 18px;
  font-size: clamp(1.5vw, 1.5vmin, 32px);
  color: var(--text-color);
  padding: calc(var(--card-width) / 8);
}

.courses>div>div span {
  display: inline-block;
  padding: 0.25em;
  border-radius: 4px;
  background: var(--text-color);
  color: black;
  margin-right: 8px;
  font-weight: 900;
}

.courses>div>div:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: calc(calc(var(--card-radius) * 0.9));
  box-shadow: 0 0 20px black;
  mix-blend-mode: color-burn;
  z-index: -1;
  background: #292929 radial-gradient(30% 30% at calc(var(--bg-x) * 1%) calc(var(--bg-y) * 1%), hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg), 100%, 90%) calc(0% * var(--bg-size)), hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg), 100%, 80%) calc(20% * var(--bg-size)), hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg), 100%, 60%) calc(40% * var(--bg-size)), transparent 100%);
  width: calc(100% + var(--border-width));
  height: calc(100% + var(--border-width));
  animation: hue-animation var(--animation-speed) linear infinite, rotate-bg var(--animation-speed) linear infinite;
  transition: --bg-size var(--interaction-speed) ease;
}

.courses>div .glow {
  --glow-translate-y: 0;
  display: block;
  position: absolute;
  width: calc(var(--card-width) / 5);
  height: calc(var(--card-width) / 5);
  animation: rotate var(--animation-speed) linear infinite;
  transform: rotateZ(calc(var(--rotate) * var(--glow-rotate-unit)));
  transform-origin: center;
  border-radius: calc(var(--glow-radius) * 10vw);
}

.courses>div .glow:after {
  content: "";
  display: block;
  z-index: -2;
  filter: blur(calc(var(--glow-blur) * 10px));
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  background: hsl(calc(calc(var(--hue) * var(--hue-speed)) * 1deg), 100%, 60%);
  position: relative;
  border-radius: calc(var(--glow-radius) * 10vw);
  animation: hue-animation var(--animation-speed) linear infinite;
  transform: scaleY(calc(var(--glow-scale) * var(--scale-factor) / 1.1)) scaleX(calc(var(--glow-scale) * var(--scale-factor) * 1.2)) translateY(calc(var(--glow-translate-y) * 1%));
  opacity: var(--glow-opacity);
}

@keyframes shadow-pulse {

  0%,
  24%,
  46%,
  73%,
  96% {
    --white-shadow: 0.5;
  }

  12%,
  28%,
  41%,
  63%,
  75%,
  82%,
  98% {
    --white-shadow: 2.5;
  }

  6%,
  32%,
  57% {
    --white-shadow: 1.3;
  }

  18%,
  52%,
  88% {
    --white-shadow: 3.5;
  }
}

@keyframes rotate-bg {
  0% {
    --bg-x: 0;
    --bg-y: 0;
  }

  25% {
    --bg-x: 100;
    --bg-y: 0;
  }

  50% {
    --bg-x: 100;
    --bg-y: 100;
  }

  75% {
    --bg-x: 0;
    --bg-y: 100;
  }

  100% {
    --bg-x: 0;
    --bg-y: 0;
  }
}

@keyframes rotate {
  from {
    --rotate: -70;
    --glow-translate-y: -65;
  }

  25% {
    --glow-translate-y: -65;
  }

  50% {
    --glow-translate-y: -65;
  }

  60%,
  75% {
    --glow-translate-y: -65;
  }

  85% {
    --glow-translate-y: -65;
  }

  to {
    --rotate: calc(360 - 70);
    --glow-translate-y: -65;
  }
}

@keyframes hue-animation {
  0% {
    --hue: 0;
  }

  100% {
    --hue: 360;
  }
}

/* Courses card css ends here */
