@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
#open_sans {
  font-family: 'Open Sans';
  /* font-weight: 700; */
}

#merriweather {
  font-family: 'Merriweather', serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: "acta-display";
  font-weight: 300;
  background: #bcbcbc;
}

html, body {
  font-size: 62.5%;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: "acta-display";
  font-weight: 300;
}

.flex, header, .section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

header {
  width: 100vw;
  min-height: 400px;
  height: 100vh;
  background: #03293c;
  color: white;
  font-weight: bold;
  text-align: left;
}
header article {
  padding-left: 8.33333%;
  padding-right: 50%;
  width: 41.66667%;
  float: left;
  text-align: left;
}
header article h1 {
  font-size: 9rem;
  margin: 0 0 2.5rem;
  line-height: 1em;
}
header article p {
  font-size: 2rem;
}

.btn {
  padding: 1rem 2rem;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}
.btn--ghost {
  background: transparent;
  color: white;
  border: 1px solid #dfdfdf;
}
.btn--ghost:hover {
  background: white;
  color: black;
}

.section {
  width: 100vw;
  min-height: 400px;
  height: 100vh;
  color: white;
  padding-left: 16.66667%;
  padding-right: 16.66667%;
  box-sizing: border-box;
  position: relative;
}
.section:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  font-size: 25.5rem;
  color: rgba(255, 255, 255, 0.05);
}
.section:nth-child(1) {
  background: #f44e57;
}
.section:nth-child(1):before {
  content: "Chapter 01";
}
.section:nth-child(2) {
  background: #1c2d35;
}
.section:nth-child(2):before {
  content: "Chapter 02";
}
.section:nth-child(3) {
  background: #686860;
}
.section:nth-child(3):before {
  content: "Chapter 03";
}
.section__left {
  width: 50%;
  float: left;
}
.section__right {
  width: 50%;
  float: left;
}
.section article {
  text-align: left;
}
.section article h3 {
  font-size: 4.1rem;
}
.section article p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
